@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$color-amarillo : #fec503;
$color-blanco : #fff;

a:hover {
	background-color: transparent;
	text-decoration: none;
}

header {
	background-image: url(../img/header-bg.jpg);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.flex {
	display: flex;
}

.container {
	.text-muted {
	font-family: 'Kaushan Script', cursive;
	color: #fec503;
	font-size: 28px;
	}
}

.active {
	color: $color-amarillo;
}

.nav {
	.nav-link {
		color: $color-blanco;
		text-transform: uppercase;
		font-size: 12px;
		padding: 25px;
		text-decoration: none;
		&:hover {
			color: $color-amarillo;
			background-color: transparent;
			transition: .5s;
			text-decoration: none;
		}
	}
}

.jumbotron {
	background-color: transparent;
	text-align: center;
	color: $color-blanco;
	margin-bottom: 50px;
	h2 {
		text-transform: capitalize;
	}
	h1 {
		text-transform: uppercase;
		padding: 0 0 30px 0;
	}
	.btn-amarillo {
		background-color: $color-amarillo;
		font-size: 14px;
		padding: 15px 30px;
		border-radius: 3px;
		color: $color-blanco;
	}
}

.services {
	text-align: center;
	margin-top: 90px;
	padding: 0 100px 60px 100px;
	box-sizing: border-box;
	p {
		color: #999;
		font-size: 13px;
	}
	h4 {
		margin-top: 20px;
	}
}

.margenes {
	margin: 60px 0 60px 0;

}

.iconos {
	color: $color-blanco;
	font-size: 44px;
	background-color: $color-amarillo;
	padding: 8px;
	border-radius: 50%;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	display: inline-block;
}

.portfolio {
	background-color: #eeeeee;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding: 80px 0;
	p {
		color: #999;
		font-size: 13px;
	}
	.book {
		margin: 0 auto;
		width: 970px;
		figure {
			padding: 30px 0 0 0;
			img {
				width: 100%;
			}
			figcaption {
			padding: 15px;
			background-color: #fff;
			box-sizing: border-box;
			}
		}
		
	}
}

.about {
	.espacio {
		padding: 50px 0 0 0;
		.padding-izq {
			padding: 0 0 0 130px;
		}
	}
	h2, p {
		text-align: center;
	}
	margin-top: 90px;
	padding: 0 100px 60px 100px;
	box-sizing: border-box;
	.derecha {
		text-align: right;
		figure {
			height: 150px;
			width: 150px;
			img {
			width: 100%;
			}
		}
	}
	.izquierda {
		text-align: left;
		figure {
			height: 150px;
			width: 150px;
			img {
			width: 100%;
			}
		}
	}
	.txt-gris {
		color: #777;
	}
}





